<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/common}">
<header th:replace="~{outlines/header::common}"></header>
<main layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>
    <form method="post" th:action="@{/member/join}" th:object="${requestJoin}">
        <!-- reject 에러는 globalErrors로 들어감-->
        <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="userId" th:field="*{userId}">
                <!-- requestJoin.getUserId() 호출-->
                <div th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>

            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="userPw" th:field=*{userPw}>
                <div th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" name="confirmPw" th:field="*{confirmPw}">
                <div th:each="err : ${#fields.errors('confirmPw')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="userNm" th:field="*{userNm}">
                <div th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <input type="email" name="email" th:field="*{email}">
                <div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
        <!--<dl>
            <dt th:text="#{취미}"></dt>
            <dd>
                <th:block th:each="hobby, status : ${hobbies}">
                    <input type="checkbox" name="hobby" th:value="${hobby}" th:id="${'hobby' + status.count}" th:field="*{hobby}">
                    <label th:for="${'hobby' + status.count}" th:text="${hobby}"></label>
                </th:block>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <input type="text" name="addr.zipcode" placeholder="우편번호" th:field="*{addr.zipcode}">
                <input type="text" name="addr.address" placeholder="주소" th:field="*{addr.address}">
                <input type="text" name="addr.addressSub" placeholder="세부주소" th:field="*{addr.addressSub}">
            </dd>
        </dl>-->
        <div>
            <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
            <label for="agree" th:text="#{회원가입_약관에_동의합니다}"></label>
            <div th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
        </div>
        <button type="submit" th:text="#{가입하기}"></button>
    </form>
</main>
<footer th:replace="~{outlines/footer::common}"></footer>
</html>