<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
    </head>
    <body>
    <th:block th:object="${member}">
        <h1 th:text="${pageTitle}"></h1>
        <a th:href="@{/member/login(userId=*{userId}, userNm=*{userNm})}" href="/exam07/member/login">로그인</a>
        <a th:href="@{/member/info/{id}(id=*{userId})}">회원정보</a>
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>[[*{userId}]]</dd>
        </dl>
        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd th:utext="*{userNm}">이이름</dd>
        </dl>

    </th:block>
    </body>
</html>

