<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table border="1">
    <thead>
    <tr>
        <th>순번</th>
        <th>아이디</th>
        <th>회원명</th>
        <th>이메일</th>
        <th>가입일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member, status : ${members}" th:object="${member}">
        <!-- <td th:text="${status.index}"></td>-->
        <td>
            <th:block th:text="${status.count}"></th:block>
            [<th:block th:text="${status.first}"></th:block>]
            [<th:block th:text="${status.last}"></th:block>]
            <!--
            <span th:if="${status.even}">짝수</span>
            <span th:unless="${status.even}">홀수</span>-->
            <th:block th:switch="${status.even}">
                <span th:case="true">짝수</span>
                <span th:case="false">홀수</span>
            </th:block>
        </td>
        <td th:text="*{userId}"></td>
        <td th:text="*{userNm}"></td>
        <td th:text="*{email}"></td>
        <td th:text="*{#temporals.format(regDt, 'yyyy.MM.dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<div th:text="${#numbers.formatInt(1000000000, 3, 'COMMA')}"></div>
<th:block th:each="num : ${#numbers.sequence(1, 10)}">
    <h1 th:text="${num}"></h1>
</th:block>
</body>
</html>