<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorates="~{layouts.common}">
<header th:replace="~{outlines/header::common}"></header>
<main layout:fragment="content">
<h1>로그인</h1>
    <form method="post" th:action="@{/member/login}">
        <dl>
            <dt>아이디</dt>
            <dd>
                <input type="text" name="userId">
            </dd>
        </dl>
        <dl>
            <dt>비밀번호</dt>
            <dd>
                <input type="password" name="userPw">
            </dd>
        </dl>
        <button type="submit">로그인</button>
    </form>
</main>
<footer th:replace="~{outlines/footer::common}"
</html>