<h1>회원 가입</h1>
<form method="post">
    <dl>
        <dt>아이디</dt>
        <dd>
            <input type="text" name="userId">
        </dd>
    </dl>
    <dl>
        <dt>비밀번호</dt>
        <dd>
            <input type="password" name="userPw">
        </dd>
    </dl>
    <dl>
        <dt>비밀번호 확인</dt>
        <dd>
            <input type="password" name="confirmPw">
        </dd>
    </dl>
    <dl>
        <dt>이메일</dt>
        <dd>
            <input type="email" name="email">
        </dd>
    </dl>
    <dl>
        <dt>이름</dt>
        <dd>
            <input type="text" name="userNm">
        </dd>
    </dl>
    <div>
        <input type="checkbox" name="agree" value="true" id="agree">
        <label for="agree">상기 내용을 확인하였습니다.</label>
    </div>
    <button type="submit">회원가입</button>
</form>